NEXT_PUBLIC_SITE_URL=https://www.brusafaris.com
NEXT_PUBLIC_BUSINESS_EMAIL=brusafarisoffisiol@gmail.com
NEXT_PUBLIC_BUSINESS_PHONE=+250798978710
NEXT_PUBLIC_BUSINESS_ADDRESS=Kicukiro, Kigali, Rwanda
NEXT_PUBLIC_WHATSAPP_NUMBER=+250798978710
NEXT_PUBLIC_GOOGLE_MAPS_URL=
RESEND_API_KEY=
ENQUIRY_FROM_EMAIL=
ENQUIRY_TO_EMAIL=
